body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App {
  text-align: center;
  padding: 20px;
}

.search-bar {
  margin-bottom: 20px;
  padding-bottom: 20px;
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color), 0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.search-bar input {
  padding: 10px;
  width: 300px;
  margin-right: 10px;
}

.search-bar button {
  padding: 10px 20px;
}

.song-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.song-item {
  border: 2px solid #ccc;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
  width: 200px;
  text-align: left;
  cursor: pointer;
}

.song-item:hover {
  box-shadow: 10px 10px 5px silver;
  transition-duration: 0.5s;
}

.song-item img {
  width: 100%;
  border-radius: 10px;
}

.song-info {
  margin-top: 10px;
}

.error {
  margin: 20px;
  font-size: 18px;
  color: red;
}

.artist {
  font-weight: bold;
}